@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h1>**Effective Date: 01/20/2025**</h1>

<p style="text-align: left;">At Meow-tcha Life Cat Café, your privacy is our top priority, just as much as our love for our adorable feline friends. This Privacy Policy explains how we collect and protect your information when you visit us or engage with our services.

<br>**1. Information We Collect**

<br>We are committed to keeping it simple. The only information we collect includes:

<br>- **Email Addresses**: When you sign up for our newsletter or account, we collect your email address to communicate important updates, promotions, and news.
<br>- **Credit Card Information**: When you make a purchase, we securely collect your credit card information to process your transactions.

<br>**2. How We Use Your Information**

<br>Your information is used solely for these purposes:

<br>- To send you updates and important information about your visits, promotions, and upcoming events at Meow-tcha Life.
<br>- To process your transactions securely and effectively, ensuring a smooth experience each time you visit us.

<br>**3. Sharing Your Information**

<br>We respect your privacy and do not sell, rent, or trade your personal information. Your information will only be shared with trusted third-party service providers necessary to process payments, and they are obligated to maintain your confidentiality. We may also disclose information as required by law or to protect our rights.

<br>**4. Data Security**

<br>We take robust measures to ensure the security of your information. Your personal data, including credit card information, is encrypted and transmitted securely. While we strive to protect your data, it's important to remember that no online transmission method is 100% secure.

<br>**5. Your Rights**

<br>You have rights regarding your information, including:

<br>- The right to access your email information and request corrections if necessary.
<br>- The right to opt out of receiving promotional communications at any time by following the unsubscribe instructions included in our emails.

<br>**6. Changes to This Privacy Policy**

<br>We may update this Privacy Policy from time to time. Changes will be posted here with an updated effective date. We encourage you to review this policy occasionally to stay informed about how we protect your information.

<br>**7. Contact Us**

<br>For any questions or concerns regarding this Privacy Policy or our data practices, please contact us at:

<p style="text-align: center;"><br>Meow-tcha Life Cat Café  
<br>meowtchalife.cafe@gmail.com </p>

<br>Thank you for being a valued part of the Meow-tcha Life community. We appreciate your trust and are dedicated to providing you with a delightful and secure experience at our café.</p>

<br><p>**Your Privacy is Our Priority!**</p>

<p>This is not a real business. Please do not contact this email.</p>